[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"web.py" = "==0.51"
flup-py3 = "==1.0.3"
netifaces = "==0.10.9"
pytz = "==2019.3"
jsonargparse = "==2.27.0"

[dev-packages]
autopep8 = "==1.5.2"
pylint = "==2.4.4"
rope = "==0.16.0"

[requires]
python_version = "3.7"
