$def with (log_files)
<h1>WISEParks Log Files</h1>
<p><a href="/download">Download all logs in a ZIP archive</a></p>
<ul>
  <li>Server version: $VERSION</li>
  <li>Device ID: $DEVICE_ID</li>
</ul>
<p>Note: All times are displayed as UTC</p>
<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
    <th></th>
  </tr>
  $log_files.sort(key=lambda x: x[1], reverse=True)
  $for name, date, status in log_files:
    <tr class="$loop.parity">
      <td>$date.strftime('%x')</td>
      <td>$date.strftime('%X')</td>
      <td>$status.capitalize()</td>
      <td><a href="/$name">View</a></td>
    </tr>
</table>
