$def with (startdate, status, entries, header)
<h1>WISEBox Log File</h1>
<p><a href="/">Back to home page</a></p>
<ul>
  <li>Device ID: $DEVICE_ID</li>
  <li>File start date &amp; time: $startdate.strftime('%x %X')</li>
  <li>File status: $status.capitalize()</li>
</ul>
<h2>File Header</h2>
<ul>
    <li>Logfile format version: $header['logfile_version']</li>
    <li>MAC: $header['mac']</li>
    <li>Interval: $header['interval'] minutes</li>
    <li>Timezone: $header['timezone']</li>
    <li>Metadata: $header['metadata']</li>
</ul>
<p>Note: All times are displayed as UTC</p>
<table>
  <tr>
    <th>Bucket Start</th>
    <th>Frequency</td>
    <th>Bucket Count</th>
    <th>RSSIs</th>
  </tr>
  $for start, frequency, count, rssis in entries:
    <tr class="$loop.parity">
      <td>$start.strftime('%x %X')</td>
      <td>$frequency</td>
      <td>$count</td>
      <td>$rssis</td>
    </tr>
</table>
